<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tlu.nhom9.qltv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QLTV">
        <activity android:name="vn.edu.tlu.nhom9.qltv.ManhinhHome">

        </activity>
        <!-- Dòng A thừa đã được xóa ở đây -->

        <activity
            android:name="vn.edu.tlu.nhom9.qltv.Splash"
            android:exported="true"> <!-- <<< THÊM THUỘC TÍNH NÀY VÀO ĐÂY -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="vn.edu.tlu.nhom9.qltv.Login.Login" />

        <activity
            android:name="vn.edu.tlu.nhom9.qltv.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.QLTV.NoActionBar"></activity>
    </application>

</manifest>